<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">admin</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/CREDIT_APM?schema=public</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgresPlusDialect</property>
<!--        <property name="hibernate.connection.provider_class">com.zaxxer.hikari.hibernate.HikariConnectionProvider</property>-->
<!--        <property name="hibernate.hikari.maximumPoolSize">20</property>-->

        <property name="hbm2ddl.auto">update</property>

        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping class="ru.test.creditapm.models.Work"/>
        <mapping class="ru.test.creditapm.models.User"/>
        <mapping class="ru.test.creditapm.models.CreditRequest"/>
        <mapping class="ru.test.creditapm.models.CreditContract"/>
    </session-factory>
</hibernate-configuration>